{% set ctaIcons = {
    'local': 'ri-arrow-right-line',
    'jump': 'ri-arrow-down-line',
    'external': 'ri-external-link-line',
    'new tab': 'ri-window-2-line',
    'download': 'ri-download-line',
    'video': 'ri-play-fill',
    'pdf': 'ri-file-pdf-2-line',
    'blog': 'ri-article-line',
    'email': 'ri-mail-line',
    'schedule': 'ri-calendar-line',
    'chat': 'ri-chat-1-line',
    'call': 'ri-phone-line'
} %}

{% set aspectRatioClasses = {
    '1:1': 'as-1-1',
    '2:1': 'as-2-1',
    '3:2': 'as-3-2',
    '4:3': 'as-4-3',
    '16:9': 'as-16-9'
} %}

<div aspect-ratio="{{ aspectRatio|default('4:3') }}" cta-type="{{ ctaType }}" href="{{ href }}" {% if ctaType == 'external' or ctaType == 'new tab' %}target="_blank"{% endif %} data-autoid="card" size="" pictogram-placement="bottom">
  {% set cardContent %}
        <div part="wrapper" class="card__wrapper d-flex fd-column pa-md {{ aspectRatioClasses[aspectRatio|default('4:3')] }}">
          <div part="content" class="card__content d-flex fd-column fg-1">
            
            <div part="heading-wrapper" class="card__heading-wrapper type-heading-03">
                <div role="heading" aria-level="3" data-autoid="card-heading">{{ heading }}</div>
            </div>
            
            {% if copy is defined %}
                <div part="copy" class="card__copy type-body-02 pr-32 mb-32 mt-32">
                    {{ copy }}
                </div>
            {% endif %}
      
            <div part="pictogram-wrapper" class="card__pictogram-wrapper mt-a">
                {% include '@MauticCore/Helper/pictogram.html.twig' with {'pictogram': pictogram, 'size': 48} %}
            </div>
          </div>
        </div>
      {% endset %}

      {% include '@MauticCore/Components/tile--clickable.html.twig' with {
        'content': cardContent,
        'className': 'card pa-0 card--link ' ~ (disabled is defined ? 'disabled' : ''),
        'icon': ctaIcons[ctaType],
        'href': href,
    } %}
</div>
