<div href="{{ href }}" size="">
  {% set cardContent %}
      {% if image is defined %}
        <div part="image-wrapper" class="card__image-wrapper">
            <img part="image" class="image__img" src="{{ asset(image.src) }}" alt="{{ image.alt }}">
        </div>
      {% endif %}

        <div part="wrapper" class="card__wrapper pa-md">
          <div part="content" class="card__content">
            <div part="eyebrow-wrapper" class="card__eyebrow-wrapper type-label-02 text-secondary mb-8">
                <div data-autoid="card-eyebrow">{{ eyebrow }}</div>
            </div>

            {% if heading is defined %}
            <div part="heading-wrapper" class="card__heading-wrapper type-heading-03 mb-64">
                <div role="heading" aria-level="3" data-autoid="card-heading">{{ heading }}</div>
            </div>
            {% endif %}
            
            <div part="copy" class="card__copy type-body-02 pr-32 mb-32">{{ copy }}</div>

            {% if tags is defined %}
            <div class="mt-16">
                {% include '@MauticCore/Helper/_tag.html.twig' with {'tags': tags} %}
            </div>
            {% endif %}
          </div>
        </div>
  {% endset %}
        
  {% include '@MauticCore/Components/tile--clickable.html.twig' with {
      'content': cardContent,
      'className': 'card pa-0 card--link ',
      'href': href,
      'icon': ''
  } %}
</div>
