{# 
Variables
- type: inline, multi, single
- innerText
- className
- ariaLabel
- copyButtonDescription
- copyText
- disabled
- hideCopyButton
- maxCollapsedNumberOfRows
- minCollapsedNumberOfRows
- maxExpandedNumberOfRows
- minExpandedNumberOfRows
- showMoreText
- showLessText
#}

{% if variant == 'inline' %}
<div class="code-snippet code-snippet--inline" {% if disabled is defined and disabled %}disabled{% endif %} data-toggle="tooltip" title="{{ copyButtonDescription|default('mautic.core.copy_code_snippet')|trans }}">
    <code class="code-snippet__code {{ className|default('') }}" aria-label="{{ ariaLabel|default(copyButtonDescription|default('mautic.core.copy_code_snippet')|trans) }}" {% if disabled is not defined or not disabled %} data-copy="{{ copyText|default(innerText) }}" tabindex="0"{% endif %}>
        {{ innerText|raw }}
    </code>
</div>

{% elseif variant == 'multi' %}
<div class="code-snippet code-snippet--multi" {% if disabled is defined and disabled %}disabled{% endif %}>
    <pre class="code-snippet__code {{ className|default('') }}" aria-label="{{ ariaLabel|default(copyButtonDescription|default('mautic.core.copy_code_snippet')|trans) }}" tabindex="0">{{ innerText|raw }}</pre>
    {% if hideCopyButton is not defined or not hideCopyButton %}
    {% include '@MauticCore/Components/button.html.twig' with {
        buttons: [{
        variant: 'icon',
        icon: 'ri-file-copy-line',
        icon_only: true,
        label: copyButtonDescription|default('mautic.core.copy_code_snippet')|trans,
        attributes: {
            'data-copy': copyText|default(innerText)|raw,
            'type': 'button',
        },
        }]
    } %}
    {% endif %}
</div>

{% elseif variant == 'single' %}
<div class="code-snippet code-snippet--single" {% if disabled is defined and disabled %}disabled{% endif %}>
    <code class="{{ className|default('') }}" aria-label="{{ ariaLabel|default(copyButtonDescription|default('mautic.core.copy_code_snippet')|trans) }}" tabindex="0">
        {{ innerText|raw }}
    </code>
    {% if hideCopyButton is not defined or not hideCopyButton %}
    {% include '@MauticCore/Components/button.html.twig' with {
        buttons: [{
        variant: 'icon',
        size: 'xs',
        icon: 'ri-file-copy-line',
        icon_only: true,
        label: copyButtonDescription|default('mautic.core.copy_code_snippet')|trans,
        attributes: {
            'data-copy': copyText|default(innerText)|raw,
            'type': 'button',
        },
        }]
    } %}
    {% endif %}
</div>
{% endif %}
