{#
  Variables
    - content
    - className
    - href
    - icon
    - onclick
    - attributes
#}

{% if href is defined and href is not empty %}
    <a class="tile tile--clickable {{ className|default('') }}" id="clickable-tile-{{ random() }}" href="{{ href }}" {% if attributes is defined and attributes is not empty %}{% for attr_key, attr_value in attributes %}{{ attr_key }}="{{ attr_value }}" {% endfor %}{% endif %}>
        {{ content|raw }}
        {% if icon is defined %}
            <div class="tile-icon">
                <i class="{{ icon }}" aria-hidden="true"></i>
            </div>
        {% endif %}
    </a>
{% else %}
    <button type="button" class="tile tile--clickable" id="clickable-tile-{{ random() }}" {% if onclick is defined %}onclick="{{ onclick }}"{% endif %} {% if attributes is defined and attributes is not empty %}{% for attr_key, attr_value in attributes %}{{ attr_key }}="{{ attr_value }}" {% endfor %}{% endif %}>
        {{ content|raw }}
        {% if icon is defined %}
            <div class="tile-icon">
                <i class="{{ icon }}" aria-hidden="true"></i>
            </div>
        {% endif %}
    </button>
{% endif %}
