<header aria-label="{{ header.children.headerName is defined ? header.children.headerName.prefix ~ ' ' ~ header.children.headerName.children|trans : header.ariaLabel|trans }}" class="header">
    {% if header.children.skipToContent is defined %}
    <a class="skip-to-content {{ header.children.skipToContent.className|default('') }}" href="{{ header.children.skipToContent.href }}" tabindex="{{ header.children.skipToContent.tabIndex|default(0) }}">{{ header.children.skipToContent.children|trans }}</a>
    {% endif %}

    {% if header.children.headerMenuButton is defined %}
    <button aria-expanded="false" aria-label="{{ header.children.headerMenuButton.ariaLabel|trans }}" class="header__action header__menu-trigger header__menu-toggle header__menu-toggle__hidden {{ header.children.headerMenuButton.className|default('') }}" title="{{ header.children.headerMenuButton.ariaLabel|trans }}" type="button" onclick="{{ header.children.headerMenuButton.onClick|default('') }}">
        {% if header.children.headerMenuButton.renderMenuIcon %}
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 14.8H18V16H2zM2 11.2H18V12.4H2zM2 7.6H18V8.8H2zM2 4H18V5.2H2z"></path>
        </svg>
        {% endif %}
    </button>
    {% endif %}

    {% if header.children.headerName is defined %}
    <a {% if header.children.headerName.href is defined %}href="{{ header.children.headerName.href }}"{% endif %} class="header__name {{ header.children.headerName.className|default('') }}">
        {% if header.children.headerName.prefix is defined %}
        <span class="header__name--prefix">{{ header.children.headerName.prefix|trans }}</span>
        {% endif %}
        &nbsp;{{ header.children.headerName.children|trans }}
    </a>
    {% endif %}

    {% if header.children.headerNavigation is defined %}
    <nav aria-label="{{ header.children.headerName.prefix|default('')|trans }} {{ header.children.headerName.children|trans }}" class="header__nav {{ header.children.headerNavigation.className|default('') }}">
        <ul class="header__menu-bar">
            {% for item in header.children.headerNavigation.children %}
                {% if item.headerMenuItem is defined %}
                <li {% if item.headerMenuItem.role is defined %}role="{{ item.headerMenuItem.role }}"{% endif %} {% if item.headerMenuItem.className is defined %}class="{{ item.headerMenuItem.className }}"{% endif %}>
                    <{{ item.headerMenuItem.as|default('a') }} href="{{ item.headerMenuItem.href }}" class="header__menu-item" tabindex="{{ item.headerMenuItem.tabIndex|default(0) }}">
                        <span class="text-truncate--end">{{ item.headerMenuItem.children|trans }}</span>
                    </{{ item.headerMenuItem.as|default('a') }}>
                </li>
                {% elseif item.headerMenu is defined %}
                <li class="header__submenu dropdown {{ item.headerMenu.className|default('') }}">
                    <a aria-haspopup="menu" aria-expanded="false" 
                       class="header__menu-item header__menu-title dropdown-toggle {% if item.headerMenu.isActive %}header__menu-item--current{% endif %}" 
                       href="#" tabindex="{{ item.headerMenu.tabIndex|default(0) }}" 
                       aria-label="{{ item.headerMenu.menuLinkName|trans }}"
                       {% if item.headerMenu.onClick is defined %}onclick="{{ item.headerMenu.onClick }}"{% endif %}
                       {% if item.headerMenu.onKeyDown is defined %}onkeydown="{{ item.headerMenu.onKeyDown }}"{% endif %}
                       {% if item.headerMenu.onBlur is defined %}onblur="{{ item.headerMenu.onBlur }}"{% endif %}
                       data-toggle="dropdown">{{ item.headerMenu.menuLinkName|trans }}
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" class="header__menu-arrow" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                        </svg>
                    </a>
                    <ul aria-label="{{ item.headerMenu.menuLinkName|trans }}" class="header__menu dropdown-menu" role="menu">
                        {% for menuItem in item.headerMenu.renderMenuContent %}
                            {% if menuItem.headerMenuItem is defined %}
                            <li {% if menuItem.headerMenuItem.role is defined %}role="{{ menuItem.headerMenuItem.role }}"{% endif %} {% if menuItem.headerMenuItem.className is defined %}class="{{ menuItem.headerMenuItem.className }}"{% endif %}>
                                <{{ menuItem.headerMenuItem.as|default('a') }} href="{{ menuItem.headerMenuItem.href }}" class="header__menu-item dropdown-item" tabindex="{{ menuItem.headerMenuItem.tabIndex|default(0) }}">
                                    <span class="text-truncate--end">{{ menuItem.headerMenuItem.children|trans }}</span>
                                </{{ menuItem.headerMenuItem.as|default('a') }}>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% elseif item.headerMenuDropdown is defined %}
                <li class="header__submenu dropdown {{ item.headerMenuDropdown.className|default('') }}">
                    <a aria-haspopup="menu" aria-expanded="false" 
                       class="header__menu-item header__menu-title dropdown-toggle" 
                       href="#" tabindex="{{ item.headerMenuDropdown.tabIndex|default(0) }}" 
                       aria-label="{{ item.headerMenuDropdown.menuLinkName|trans }}"
                       data-toggle="dropdown">{{ item.headerMenuDropdown.menuLinkName|trans }}
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" class="header__menu-arrow" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                        </svg>
                    </a>
                    <div aria-label="{{ item.headerMenuDropdown.menuLinkName|trans }}" class="header__menu dropdown-menu" role="menu">
                        {{ item.headerMenuDropdown.renderMenuContent|raw }}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {% if header.children.headerGlobal is defined %}
    <div class="header__global {{ header.children.headerGlobal.className|default('') }}">
        {% for item in header.children.headerGlobal.children %}
            {% if item.headerGlobalAction is defined %}
            <span data-toggle="tooltip" data-placement="{{ item.headerGlobalAction.tooltipAlignment|default('bottom') }}" title="{{ item.headerGlobalAction.ariaLabel|default('')|trans }}">
                <div class="tooltip-trigger__wrapper">
                    <button aria-label="{{ item.headerGlobalAction.ariaLabel|default('')|trans }}"
                        class="header__action btn btn--lg layout--size-lg btn-ghost btn--icon-only {{ item.headerGlobalAction.className|default('') }}"
                        type="button" onclick="{{ item.headerGlobalAction.onClick|default('') }}">
                        <i class="{{ item.headerGlobalAction.renderActionIcon }} fs-20"></i>
                    </button>
                </div>
            </span>
            {% elseif item.headerGlobalDropdown is defined %}
            <div class="dropdown">
                <span data-toggle="tooltip" data-placement="{{ item.headerGlobalDropdown.tooltipAlignment|default('bottom') }}" title="{{ item.headerGlobalDropdown.ariaLabel|default('')|trans }}">
                    <div class="tooltip-trigger__wrapper">
                        <button aria-label="{{ item.headerGlobalDropdown.ariaLabel|default('')|trans }}"
                            class="header__action btn btn--lg layout--size-lg btn-ghost btn--icon-only btn-nospin {{ item.headerGlobalDropdown.className|default('') }} dropdown-toggle"
                            type="button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            <i class="{{ item.headerGlobalDropdown.renderDropdownIcon }} fs-20"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {{ item.headerGlobalDropdown.renderMenuContent|raw }}
                        </div>
                    </div>
                </span>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</header>