{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}project{% endblock %}

{% block preHeader %}
{{ include('@MauticCore/Helper/page_actions.html.twig', {
    'item': project,
    'templateButtons': {
        'close': true,
    },
    'routeBase': 'project',
    'langVar': 'project',
    'targetLabel': 'mautic.project.projects'|trans
}) }}
{% endblock %}

{% block headerTitle %}{{ project.getName() }}{% endblock %}

{% block actions %}
    {{ include('@MauticCore/Helper/page_actions.html.twig', {
        'item': project,
        'customButtons': customButtons|default([]),
        'nameGetter': 'getName',
        'templateButtons': {
            'edit': securityIsGranted('project:project:edit'),
            'delete': securityIsGranted('project:project:delete'),
        },
        'routeBase': 'project'
    }) }}
{% endblock %}

{% block content %}
<div class="box-layout">
    <div class="col-md-12 bg-white height-auto">
        <div class="bg-auto">
            <div class="pr-md pl-md pt-lg pb-lg">
                <div class="box-layout">
                    <div class="col-xs-10">
                        <div class="text-white dark-sm mb-0">{{ project.getDescription()|purify }}</div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="sms-details">
                <div class="pr-md pl-md pb-md">
                    <div class="panel shd-none mb-0">
                        <table class="table table-bordered table-striped mb-0">
                            <tbody>
                                <tr>
                                    <td width="20%"><span class="fw-b textTitle">{{ 'mautic.core.id'|trans }}</span></td>
                                    <td>{{ project.getId() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-auto bg-dark-xs">
            <div class="hr-expand nm">
                <span data-toggle="tooltip" title="Detail">
                    <a href="javascript:void(0)" class="arrow text-muted collapsed" data-toggle="collapse" data-target="#sms-details">
                        <span class="caret"></span> {{ 'mautic.core.details'|trans }}
                    </a>
                </span>
            </div>
        </div>
        
        <!-- Project Items Section -->
        <div class="bg-auto mt-lg">
            <div class="pr-md pl-md pt-lg pb-lg">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="fw-sb">{{ 'mautic.project.associated_entities'|trans }}</h4>
                        
                        {% for entityType, entityData in projectEntities %}
                            {% if entityData.count > 0 %}
                            <div class="panel panel-default mt-md">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        {{ entityData.label|trans }} ({{ entityData.count }})
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for entity in entityData.entities %}
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <strong>{{ entity.name|purify }}</strong>
                                                </div>
                                                <div class="col-sm-4 text-right">
                                                    <small class="text-muted">
                                                        ID: {{ entity.id }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="entityId" id="entityId" type="hidden" value="{{ project.getId()|e }}" />
</div>
{% endblock %}
